<head>
    <style type="text/css">
        @media screen and ( max-width: 1600px ) {
            .frm {
                margin-left: 150px;
                margin-right: 150px;
            }
        }

        @media screen and ( max-width: 989px ) {
            .frm {
                margin-left: auto;
                margin-right: auto;
            }
        }

        @media screen and ( max-width: 767px ) {
            .frm {
                margin-left: auto;
                margin-right: auto;
            }
        }

        @media screen and ( max-width: 600px ) {
            .frm {
                margin-left: auto;
                margin-right: auto;
            }
        }

        @media screen and ( max-width: 540px ) {
            .frm {
                margin-left: auto;
                margin-right: auto;
            }
        }

        @media screen and ( max-width: 480px ) {
            .frm {
                margin-left: auto;
                margin-right: auto;
            }
        }

        @media screen and ( max-width: 380px ) {
            .frm {
                margin-left: auto;
                margin-right: auto;
            }
        }
    </style>
</head>

<div class="row list-header">
    <div class="col-lg-12">

        <div class="page-header">
            <h4>Bull Board</h4>
        </div>

    </div>
</div>

<div class="row">
    <p class="font-weight-normal">Click the button to open to Bull Board.</p>
    <a class="btn btn-success" href="{{link}}" target="_blank">Open</a>
</div>