<head>
    <style type="text/css">
        img {
            border-radius: 25px;
            border: 2px solid #DCDCDC;
            padding: 8px;
            width: 70px;
            height: 70px;
        }

        h3 {
            border-radius: 25px;
            border: 2px solid #DCDCDC;
            padding: 8px;
            width: 1150px;
            height: 90px;
            letter-spacing: 2px;
            font-weight: bold;
        }
        .infoButton {
            margin-top: 5px;
            float:right;
            margin-right: 4px;
            padding: 10px 16px;
            font-size: 30px;
            border-radius: 25px;
        }

    </style>
</head>
<body>
<div class="row list-header">
    <div class="col-lg-12">
        <div class="page-header">
            <h4>Integrations</h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="elastic_stack" ng-init="getIntegrationKey()">
                <form ng-submit="updateElasticStack()">
                    <div class="form-group">
                        <h3>
                            <img src="/admin/images/elasticStack.png" width="50" height="50">
                            Elastic Stack
                            <integration-info class="infoButton" type="integrationInfo" id ="elastic_stack" post="entry"></integration-info>
                        </h3>
                        <small class="form-text text-muted">{{model.description}}</small>
                        <br>
                        <br>
                        <div class="container">
                            <input type="checkbox" class="form-control" id="elastic_stack_id"
                                   ng-change="setValue(model.elastic_stack_id)"
                                   ng-model="model.elastic_stack_id"
                                   placeholder="Elastic Stack">
                            <br>
                            <label for="url">Elastic Stack URL</label>
                            <input type="text" class="form-control" id="url"
                                   ng-model="model.url"
                                   placeholder="Elastic Stack URL">
                            <br>
                            <div class="form-group">
                                <label for="username">Elastic Stack Username</label>
                                <input type="text" class="form-control" id="username"
                                       ng-model="model.username"
                                       placeholder="Elastic Stack Username">
                            </div>
                            <div class="form-group">
                                <label for="password">Elastic Stack Password</label>
                                <input type="text" class="form-control" id="password"
                                       ng-model="model.password"
                                       placeholder="Elastic Stack Password">
                            </div>
                        </div>
                    </div>

                    <hr>
                    <button type="submit" class="btn btn-default pull-right">Submit</button>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
</body>



