<head>
    <style type="text/css">
        img {
            border-radius: 25px;
            border: 2px solid #DCDCDC;
            padding: 8px;
            width: 70px;
            height: 70px;
        }

        h3 {
            border-radius: 25px;
            border: 2px solid #DCDCDC;
            padding: 8px;
            width: 1150px;
            height: 90px;
            letter-spacing: 2px;
            font-weight: bold;
        }
        .infoButton {
            margin-top: 5px;
            float:right;
            margin-right: 4px;
            padding: 10px 16px;
            font-size: 30px;
            border-radius: 25px;
        }

    </style>
</head>
<body>
<div class="row list-header">
    <div class="col-lg-12">
        <div class="page-header">
            <h4>Integrations</h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="google_cloud_storage" ng-init="getIntegrationKey()">
                <form ng-submit="updateGoogleStorage()">
                    <div class="form-group">
                        <h3><img src="/admin/images/gcs.jpg" width="50" height="50">Google Cloud Storage
                            <integration-info class="infoButton" type="integrationInfo" id ="google_cloud_storage" post="entry"></integration-info>
                        </h3>
                        <small class="form-text text-muted">{{model.description}}</small>
                        <br>
                        <br>
                        <div class="container">
                            <input type="checkbox" class="form-control" id="storage"
                                   ng-change="setValue(model.storage)"
                                   ng-model="model.storage"
                                   placeholder="Google Cloud Storage">
                            <br>
                            <label for="google_managed_key">Google Managed Key</label>
                            <input type="text" class="form-control" id="google_managed_key"
                                   ng-model="model.google_managed_key"
                                   placeholder="Google Managed Key">
                            <br>
                            <label for="projectId">Project ID</label>
                            <input type="text" class="form-control" id="projectId"
                                   ng-model="model.projectId"
                                   placeholder="Project ID">
                            <br>
                            <label for="bucket_name">Bucket Name</label>
                            <input type="text" class="form-control" id="bucket_name"
                                   ng-model="model.bucket_name"
                                   placeholder="Bucket Name">
                            <br>
                        </div>
                    </div>


                    <hr>
                    <button type="submit" class="btn btn-default pull-right">Submit</button>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
</body>



