<head>
    <style type="text/css">
        img {
            border-radius: 25px;
            border: 2px solid #DCDCDC;
            padding: 8px;
            width: 70px;
            height: 70px;
        }

        h3 {
            border-radius: 25px;
            border: 2px solid #DCDCDC;
            padding: 8px;
            width: 1150px;
            height: 90px;
            letter-spacing: 2px;
            font-weight: bold;
        }

        .infoButton {
            margin-top: 5px;
            float:right;
            margin-right: 4px;
            padding: 10px 16px;
            font-size: 30px;
            border-radius: 25px;
        }

    </style>
</head>
<body>
<div class="row list-header">
    <div class="col-lg-12">
        <div class="page-header">
            <h4>Integrations</h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="google_analytics" ng-init="getIntegrationKey()">
                <form ng-submit="updateAnalyticsTracer()">
                    <div class="form-group">
                        <h3><img src="/admin/images/integrations/google_analytics.png" width="50" height="50">Google Analytics Tracer
                            <integration-info class="infoButton" type="integrationInfo" id ="google_analytics" post="entry"></integration-info>
                        </h3>
                        <small class="form-text text-muted">{{model.description}}</small>
                        <br>
                        <br>
                        <div class="container">
                            <label for="google_analytics_tracer">Google Analytics Tracer</label>
                            <input type="text" class="form-control" id="google_analytics_tracer"
                                   ng-model="model.google_analytics_tracer"
                                   placeholder="Google Analytics Tracer" style="letter-spacing: 1px">
                            <br>
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-default pull-right">Submit</button>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
</body>



