<head>
    <style type="text/css">
        img {
            border-radius: 25px;
            border: 2px solid #DCDCDC;
            padding: 8px;
            width: 70px;
            height: 70px;
        }

        h3 {
            border-radius: 25px;
            border: 2px solid #DCDCDC;
            padding: 8px;
            width: 1150px;
            height: 90px;
            letter-spacing: 2px;
            font-weight: bold;
        }

        .infoButton {
            margin-top: 5px;
            float:right;
            margin-right: 4px;
            padding: 10px 16px;
            font-size: 30px;
            border-radius: 25px;
        }

    </style>
</head>
<body>
<div class="row list-header">
    <div class="col-lg-12">
        <div class="page-header">
            <h4>Integrations</h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="paypal" ng-init="getIntegrationKey()">
                <form ng-submit="updatePaypal()">
                    <div class="form-group">
                        <h3>
                            <img src="/admin/images/paypal.jpg" width="50" height="50">
                            Paypal Billing System
                            <integration-info class="infoButton" type="integrationInfo" id ="paypal" post="entry"></integration-info>
                        </h3>
                        <small class="form-text text-muted">{{model.description}}</small>
                        <br>
                        <br>
                        <div class="container">
                            <label for="client_id">Paypal Client ID</label>
                            <input type="text" class="form-control" id="client_id"
                                   ng-model="model.client_id"
                                   placeholder="Paypal Client ID">
                            <br>
                            <label for="production">Paypal Production</label>
                            <input type="checkbox" class="form-control" id="production" ng-change="setValue(model.production)"
                                   ng-model="model.production"
                                   placeholder="Paypal Production">
                            <br>
                            <label for="client_secret">Paypal Client Secret</label>
                            <input type="text" class="form-control" id="client_secret"
                                   ng-model="model.client_secret"
                                   placeholder="Paypal Client Secret">
                            <br>
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-default pull-right">Submit</button>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
</body>



