<head>
    <style type="text/css">
        img {
            border-radius: 25px;
            border: 2px solid #DCDCDC;
            padding: 8px;
            width: 70px;
            height: 70px;
        }

        h3 {
            border-radius: 25px;
            border: 2px solid #DCDCDC;
            padding: 8px;
            width: 1150px;
            height: 90px;
            letter-spacing: 2px;
            font-weight: bold;
        }

        .infoButton {
            margin-top: 5px;
            float:right;
            margin-right: 4px;
            padding: 10px 16px;
            font-size: 30px;
            border-radius: 25px;
        }

    </style>
</head>
<body>
<div class="row list-header">
    <div class="col-lg-12">
        <div class="page-header">
            <h4>Integrations</h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="verizon" ng-init="getIntegrationKey()">
                <form ng-submit="updateVerizon()">
                    <div class="form-group">
                        <h3>
                            <img src="/admin/images/verizon.png" width="50" height="50">
                            Verizon Streaming Engine
                            <integration-info class="infoButton" type="integrationInfo" id ="verizon" post="entry"></integration-info>
                        </h3>
                        <small class="form-text text-muted">{{model.description}}</small>
                        <br>
                        <br>
                        <div class="container">
                            <label for="key">Verizon Key</label>
                            <input type="text" class="form-control" id="key"
                                   ng-model="model.key"
                                   placeholder="Verizon Key">
                            <br>
                            <label for="proto_allowed">Verizon Protocol Allowed</label>
                            <input type="text" class="form-control" id="proto_allowed"
                                   ng-model="model.proto_allowed"
                                   placeholder="Verizon Protocol Allowed">
                            <br>
                            <label for="window">Verizon Window</label>
                            <input type="text" class="form-control" id="window"
                                   ng-model="model.window"
                                   placeholder="Verizon Window">
                            <br>
                        </div>
                    </div>

                    <hr>
                    <button type="submit" class="btn btn-default pull-right">Submit</button>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
</body>



