<head>
    <style type="text/css">
        img {
            border-radius: 25px;
            border: 2px solid #DCDCDC;
            padding: 8px;
            width: 70px;
            height: 70px;
        }

        h3 {
            border-radius: 25px;
            border: 2px solid #DCDCDC;
            padding: 8px;
            width: 1150px;
            height: 90px;
            letter-spacing: 2px;
            font-weight: bold;
        }

        .infoButton {
            margin-top: 5px;
            float:right;
            margin-right: 4px;
            padding: 10px 16px;
            font-size: 30px;
            border-radius: 25px;
        }

    </style>
</head>
<body>
<div class="row list-header">
    <div class="col-lg-12">
        <div class="page-header">
            <h4>Integrations</h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="vmx" ng-init="getIntegrationKey()">
                <form ng-submit="updateVMX()">
                    <div class="form-group">
                        <h3>
                            <img src="/admin/images/vmx.png" width="50" height="50">
                            Verimatrix
                            <integration-info class="infoButton" type="integrationInfo" id ="vmx" post="entry"></integration-info>
                        </h3>
                        <small class="form-text text-muted">{{model.description}}</small>
                        <br>
                        <br>
                        <div class="container">
                            <label for="tenant_id">Tenant ID</label>
                            <input type="text" class="form-control" id="tenant_id"
                                   ng-model="model.tenant_id"
                                   placeholder="Tenant ID">
                            <br>
                            <div class="form-group">
                                <label for="companyName">Company Name</label>
                                <input type="text" class="form-control" id="companyName"
                                       ng-model="model.company_name"
                                       placeholder="Company Name">
                                <br>
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username"
                                       ng-model="model.username"
                                       placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="text" class="form-control" id="password"
                                       ng-model="model.password"
                                       placeholder="Password">
                            </div>
                        </div>
                    </div>

                    <hr>
                    <button type="submit" class="btn btn-default pull-right">Submit</button>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
</body>



