<head>
    <style type="text/css">
        img {
            border-radius: 25px;
            border: 2px solid #DCDCDC;
            padding: 8px;
            width: 70px;
            height: 70px;
        }

        h3 {
            border-radius: 25px;
            border: 2px solid #DCDCDC;
            padding: 8px;
            width: 1150px;
            height: 90px;
            letter-spacing: 2px;
            font-weight: bold;
        }
        .infoButton {
            margin-top: 5px;
            float:right;
            margin-right: 4px;
            padding: 10px 16px;
            font-size: 30px;
            border-radius: 25px;
        }

    </style>
</head>
<body>
<div class="row list-header">
    <div class="col-lg-12">
        <div class="page-header">
            <h4>Integrations</h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="widevine" ng-init="getIntegrationKey()">
                <form ng-submit="updateWidevine()">
                    <div class="form-group">
                        <h3>
                            <img src="/admin/images/integrations/widevine.jpg" width="50" height="50">
                            Widevine
                            <integration-info class="infoButton" type="integrationInfo" id ="widevine" post="entry"></integration-info>
                        </h3>
                        <small class="form-text text-muted">{{model.description}}</small>
                        <br>
                        <br>
                        <div class="container">
                            <div class="form-group">
                                <label for="key">Key</label>
                                <input type="text" class="form-control" id="key"
                                       ng-model="model.key"
                                       placeholder="Key">
                            </div>
                            <div class="form-group">
                                <label for="iv">IV</label>
                                <input type="text" class="form-control" id="iv"
                                       ng-model="model.iv"
                                       placeholder="IV">
                            </div>
                            <div class="form-group">
                                <label for="provider">Provider</label>
                                <input type="text" class="form-control" id="provider"
                                       ng-model="model.provider"
                                       placeholder="Provider">
                            </div>
                            <div class="form-group">
                                <label for="license_content_key">License Content Key</label>
                                <input type="text" class="form-control" id="license_content_key"
                                       ng-model="model.license_content_key"
                                       placeholder="License Content Key">
                            </div>
                        </div>
                    </div>

                    <hr>
                    <button type="submit" class="btn btn-default pull-right">Submit</button>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
</body>



