<head>
    <style type="text/css">
        img {
            border-radius: 25px;
            border: 2px solid #DCDCDC;
            padding: 8px;
            width: 70px;
            height: 70px;
        }

        h3 {
            border-radius: 25px;
            border: 2px solid #DCDCDC;
            padding: 8px;
            width: 1150px;
            height: 90px;
            letter-spacing: 2px;
            font-weight: bold;
        }
        .infoButton {
            margin-top: 5px;
            float:right;
            margin-right: 4px;
            padding: 10px 16px;
            font-size: 30px;
            border-radius: 25px;
        }
    </style>
</head>
<body>
<div class="row list-header">
    <div class="col-lg-12">
        <div class="page-header">
            <h4>Integrations</h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="woocomerce" ng-init="getIntegrationKey()">
                <form ng-submit="updateWooCommerce()">
                    <div class="form-group">
                        <h3>
                            <img src="/admin/images/woo-woocommerce.png" width="50" height="50">
                            WooCommerce
                            <integration-info  class="infoButton" type="integrationInfo" id ="woocomerce" post="entry"></integration-info>
                        </h3>
                             <small class="form-text text-muted">{{model.description}}</small>
                        <br>
                        <br>
                        <div class="container">
                            <label for="base_url">WooCommerce Base URL</label>
                            <input type="text" class="form-control" id="base_url"
                                   ng-model="model.base_url"
                                   placeholder="WooCommerce Base URL">
                            <br>
                            <label for="consumer_secret">WooCommerce Consumer Secret</label>
                            <input type="text" class="form-control" id="consumer_secret"
                                   ng-model="model.consumer_secret"
                                   placeholder="WooCommerce Consumer Salt">
                            <br>
                            <label for="consumer_key">WooCommerce Consumer Key</label>
                            <input type="text" class="form-control" id="consumer_key"
                                   ng-model="model.consumer_key"
                                   placeholder="WooCommerce Consumer Key">
                            <br>
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-default pull-right">Submit</button>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
</body>



